body{
     margin: 0;
    padding: 0;
    /* background: #FEFEFA; */
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 1.2rem;

}

h1,h2,h3,h4,h5,h6{

    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{

    font-size: 4.209rem;
}


h3{

    font-size: 3.157rem;
    margin-bottom: 900px;
}

h4{

    font-size:2.369rem;
    margin-left: 350px;

}
/* navigationBar */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
}

nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cyberdudelogo{

    margin-left: 5px;
    height: 70px; 
    width: 70px;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    list-style: none;
    cursor: pointer;
    margin-right: 20px;
}

li{

     padding: 10px;
    border-radius: 10px;
    width: 50px;
}

li:hover{

    background-color: #C0C0C0;
    width: 70px;
    text-align: center;
   }

   /* mainContent */

   button{

    background-color: #FF0000;
    color: white;
    padding: 10px;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #FEFEFA;
    font-size: 1rem;
    }

   button:hover{

     transform: scale(1.1);
     cursor: pointer;
   }


   img{
    height: 300px;
    width: 500px;
    object-fit: cover;
    border-radius: 10px;
   }

   section{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 200px;
    gap: 80px;
   }

   /* aboutSection */



  .about> p{

    width: 70ch;
    width: 90%;
    line-height: 1.5;
    border: 3px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
   
   }

   .learnbutton{

    background-color: #E34F26;
    margin-left: 50px;
   }


  

  


   .leranhtml{

    height: 300px;
    width: 500px;
    object-fit: cover;
    margin-top: 25px;
    

}

   /* .leranhtml:hover{

    transform: scale(0.8);
    cursor: pointer;
   } */

   .createnewCourse{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   }

   .createnewCourse h3 {
  margin: 0;
  margin-top: 100px;
 
}

.about{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0;
   
}


.about> h2,h3{

    margin: 0;
     margin-top: 100px;

}



.about> h3{

    margin-top: 30px;
}

   a{
    text-decoration: none;
   }

   .CyberDudeNetworks{

    margin-top: 20px;
    object-fit: cover;
   }

   .socialmedialinks>i{

    font-size: 30px;
   }



   .linkedinlinks {

    margin-bottom: 150px;
   
   }

   .linkedinlinks>i{
    font-size: 30px;
    margin-top: 20px;
    
   }


   input{

    height: 30px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    border: 3px solid lightgray;
   }

.footerdisplay{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;

}

   form{

    margin-left: 400px;
   }

   
   footer>h4{
    margin: 0;
    margin-left: 530px;
    margin-top: 450px;

   }





  

  
